.container {
    max-width: 36rem;    
    margin: 0 auto 6rem;
}
.contents {
    margin: 0 1rem;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}
.nav {
    border-bottom: 1px solid black;
    padding: 0 0.5rem;
}
.backTohome {
    margin: 3rem 0 0;
}
.view {
    margin: 5px 0;
    display: flex;
    gap: 10px;
}